<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.png">

    <title>EvoHire</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/bower_components/bootstrap/assets/js/html5shiv.js"></script>
      <script src="/static/bower_components/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right black">
          <li class="active"><a href="/">Início</a></li>
          <li><a href="https://bitbucket.org/joey_ribeiro/desafio-evolux-python" target="_blank">Repositório</a></li>
        </ul>
        <h3>Evolux Jobs</h3>
      </div>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
             {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  {{ message }}
                </div>
            {% endfor %}
        {% endif %}
      {% endwith %}

      {% block body %}{% endblock %}

      <div class="footer">
        <p>&copy; Evolux 2013</p>
      </div>

    </div> <!-- /container -->

    <script type="text/javascript" src="/static/bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
