{% extends "base.html" %}
{% block body %}

<form role="form" method="post" action="/salvar-cadastro">

  <legend>Dados Pessoais</legend>

  <div class="form-group row">
      <div class="col-lg-5">
          <label for="nome">Nome</label>
          <input id="nome" name="nome" type="text" class="form-control" placeholder="John Doe">
      </div>
      <div class="col-lg-4">
          <label for="email">Email</label>
          <input id="twitter" name="email" type="email" class="form-control" placeholder="johdoe@gmail.com">
      </div>
      <div class="col-lg-3">
          <label for="twitter">Twitter</label>
          <input id="twitter" name="twitter" type="text" class="form-control" placeholder="@foobar">
      </div>
</div>

<legend>Suas Habilidades</legend>

    {% for habilidade in habilidades %}
    <div class="form-group">
        <label>Em <strong>{{ habilidade.nome }}</strong></label><br />

        <label class="checkbox-inline">
          <input type="radio" name="habilidade['{{ habilidade.tag }}']" value="0" checked /> Não conheço
        </label>
        <label class="checkbox-inline">
          <input type="radio" name="habilidade['{{ habilidade.tag }}']" value="1" /> Básico
        </label>
        <label class="checkbox-inline">
          <input type="radio" name="habilidade['{{ habilidade.tag }}']" value="2" /> Intermediário
        </label>
        <label class="checkbox-inline">
          <input type="radio" name="habilidade['{{ habilidade.tag }}']" value="3" /> Avançado
        </label>
        <label class="checkbox-inline">
          <input type="radio" name="habilidade['{{ habilidade.tag }}']" value="4" /> Jedi
        </label>
    </div>
    {% endfor %}


  <button type="submit" class="btn btn-sucess" style="margin-top: 20px; margin-bottom: 20px;">Enviar Formulário</button>


</form>

{% endblock %}
