{% extends "base.html" %}
{% block body %}
    <div class="jumbotron">
    <h1>Contrata-se</h1>
    <p class="lead">É desenvolvedor? Manda bem? Mora em Natal? Faça parte da nossa equipe!</p>
    <p><a class="btn btn-lg btn-success" href="/quero-me-candidatar">Quero me candidatar</a></p>
    </div>

    <div class="row marketing">
    <div class="col-lg-6">
      <h4>Como funciona?</h4>
      <p>A seleção é feita de acordo com as habilidades dos candidatos. Se você se encaixar no perfil que procuramos: bem-vindo!</p>
    </div>

    <div class="col-lg-6">
      <h4>Tá, mas qual é esse perfil?</h4>
      <p>Profissional disciplinado, com facilidade de aprender, se adaptar, desafiador e acima de tudo, apaixonado pelas linhas de código. =)</p>
    </div>
    </div>
{% endblock %}